<div class="footer_wrap">
  <div class="footer_area">
    <div class="footer_nav_area">
      <p class="footer_nav_text"><a href="#" class="footeractive">Home</a> | <a href="#" class="footer">About Us</a> | <a href="#" class="footer">Services</a> | <a href="#" class="footer">Solutions</a> | <a href="#" class="footer">Support</a> | <a href="#" class="footer">Contact Us</a></p>
    </div>
    <div class="copy_wrap">Copyright &copy; <a href="#">Domain Name</a>, All rights reserved | Design by <a target="_blank" href="http://www.wordpressthemeshock.com/">ThemeShock</a></div>
    <br class="blank" />
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>