<div class="header_area">
  <div class="main_area">
    <p class="collus_text">Call us now: 800-567-8888</p>
  </div>
  <div class="main_area">
    <div class="logo_wrap">
      <p class="logo_pad"><a href="#"><img src="/assets/logo.jpg" alt="" border="0" /></a></p>
    </div>
    <div class="navarea_wrap">
      <div class="nav_wrap">
        <ul>
          <li><a href="#" class="homeactive">Home</a></li>
          <li><a href="#" class="home">About Us</a></li>
          <li><a href="#" class="home">Services</a></li>
          <li><a href="#" class="home">Solutions</a></li>
          <li><a href="#" class="home">Support</a></li>
          <li><a href="#" class="contact">Contact Us</a></li>
        </ul>
        <br class="blank" />
      </div>
    </div>
    <br class="blank" />
  </div>
  <div class="main_area">
    <div class="header_text_wrap">
      <p class="fresh_text">FRESH IDEAS<br />
        </p>
      <p style="padding:20px 0 0 0;"><a href="#" class="read_botn">Click Here</a></p>
    </div>
    <br class="blank" />
  </div>
</div>