
<h1>Hello World!</h1>
<%= social_share_button_tag("My Site", :image => "https://raw.github.com/vkulpa/social-share-button/master/lib/assets/images/sprites/social-share-button/tumblr.png", :'data-type' => 'photo') %>
<p>Welcome to my site!</p>
